<header>
  <div class="container">
    <a href="/home" routerLink="/home" class="logo">Foody</a>
    <app-search style="margin: -2rem 0rem -1rem 25rem"></app-search>

    <a (click)="goToCart()" class="cart"
      ><img
        src="/assets/images/cart.png"
        alt="user"
        style="height: 2rem; width: 2rem; margin-right: 2rem"
    /></a>

    <div class="user-section">
      <button class="user-button" (click)="toggleUserMenu()">
        <i class="fas fa-user"
          ><img
            src="/assets/images/user.png"
            alt="user"
            style="
              height: 2rem;
              width: 2rem;
              margin-left: -4rem;
              margin-top: 0.5rem;
            "
        /></i>
      </button>

      <div class="user-menu" [class.show]="isUserMenuOpen">
        <a routerLink="/orders" class="menu-item">Abhimanyu Kumar</a>
        <a (click)="goToMyAccount()" class="menu-item">My Account</a>
        <a routerLink="/orders" class="menu-item">My Orders</a>
        <a (click)="goToAuthPage()" class="menu-item">Help</a>
        <div class="divider"></div>
        <button class="menu-item logout" (click)="logout()">
          <span style="color: rgb(0, 0, 0)"><b>Logout</b></span>
        </button>
      </div>
    </div>
  </div>
</header>
